<!doctype html>
{% load static %}
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ranking kreatywności</title>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
  </head>
  <body>
    <h1>Ranking kreatywności serwera <br><i>Brightway | Avaritis University</i></h1>
    <!--<table class="center">

        <tr>
            <th> </th><th> </th><th>Poziom</th><th>EXP</th>
        </tr>
        {% for member in object_list %}
        <tr>
            <th>{{ forloop.counter }}.</th><th>{{ member.name }}</th><th>{{ member.lvl }}</th><th>{{member.exp}}</th>
        </tr>
        {% empty %}
            <tr><th>Pusty ranking.</th></tr>
        {% endfor %}
    </table> -->
  </body>
  </body>
</html>